header{
    background-image: linear-gradient(#000, transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 10vw;
    width: 100%;
    position: fixed;
    z-index: 9999;
}

@media (max-width: 1400px) {
    header{
        padding: 2vw 5vw;
    }
}

header .logoHeader{
    width: 40px;
}

header nav{
    display: flex;
    gap: 4vw;
    align-items: center;
}

header nav a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

header nav a:hover{
    color: var(--cor-padrao);
    scale: 1.05;
}

header nav a:not(:hover){
    transition: 1.5s;
}

header nav i{
    color: #fff;
    background-color: var(--cor-padrao);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    padding: 5px;
}

header nav i:hover{
    background-color: #fff;
    color: var(--cor-padrao);
}

header nav i:not(:hover){
    transition: 1.5s;
}

/*Home*/
.Perfil {
    position: relative;
    display: inline-block;
}

.Perfil:hover .dropdown-menu {
    display: block; 
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; 
    right: 0;
    background: var(--cor-padrao);
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 10px;
    width: 150px;
    border-radius: 5px;
}

.dropdown-menu i{
    margin-top: 10px;
    background-color: #fff;
    color: var(--cor-padrao);
}

.dropdown-menu i:hover{
    background-color: #fff;
    color: var(--cor-padrao-escura);
}

.dropdown-menu a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #fff;
}

.dropdown-menu a:hover {
    background: var(--cor-padrao-escura);
    color: #fff;
}

.dropdown-menu h2 {
    text-transform: none;
    margin-top: 10px;
    font-size: 13px;
    color: #fff;
}

.divisor {
    height: 1px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: 0;
    margin-bottom: 10px;
}

#home{
    width: 100%;
    padding: 5vw 12vw 6vw 12vw;
    background-image: url(../img/fundoHome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
}

@media (max-width: 1400px) {
    #home{
        padding: 10vw 5vw;
    }
}

@media (max-width: 1000px) {
    #home{
        flex-direction: column-reverse;
        justify-content: center;
        padding: 22vw 5vw;
        background-position: center;
    }
}

#home img{
    animation: imgScale 5s infinite ease-in-out;
    width: 550px;
}

@keyframes imgScale{
    0%{
        scale:1;
        transform:translateY(0vw);
    }
    50%{
        scale:1.02;
        transform:translateY(-1vw);
    }
    100%{
        scale:1;
        transform:translateY(0vw);
    }
}

@media (max-width: 1200px) {
    #home img{
        width: 450px;
    }
}

@media (max-width: 900px) {
    #home img{
        width: 300px;
    }
}

#home .homeText{
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 40%;
}
@media (max-width: 1500px) {
    #home .homeText{
        width:80%;
    }
}

@media (max-width: 1000px) {
    #home .homeText{
        width: 90%;
        text-align: center;
        align-items: center;
    }
}

#home .homeText h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
}

@media (max-width: 1100px) {
    #home .homeText h1{
        font-size: 35px;
    }
}

#home .homeText button{
    width: 60%;
    padding: 10px 0;
    font-size: 18px;
    border-radius: 0.5em;
    border: none;
    background-image: linear-gradient(90deg, var(--cor-padrao), #000 150%);
    color: #fff;
    box-shadow: 1px 1px 5px 2px #000;
    transition: 0.5s;
}
@media (max-width: 400px){
    #home .homeText h1{
        font-size:25px;
    }

    #home .homeText button{
        font-size:14px;
    }
}

#home .homeText button:hover{
    scale: 1.05
}

/*Casos*/
#casos{
    margin-top: -2vw;
}
@media (max-width: 1000px) {
    #casos{
        margin-top: -6vw;
    }
}

#casos .casosDados{
    background-image: linear-gradient(90deg, #000, var(--cor-padrao));
    box-shadow: 1px 1px 7px 3px #000;
    color: #fff;
    z-index: 10;
    text-align: center;
    width: 60%;
    padding: 1.5vw 1vw;
    border-radius: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 8vw;
}

#casos .casosDados:hover {
    filter: invert(5%);
}

#casos .casosDados:not(:hover) {
    transition: 2s;
}

#casos .casosDados h2{
    color:#fff;
}

#casos .Abs1 img{
    position: absolute; 
    z-index: -1;
    right: 0;
}

@media (max-width: 1000px) {
    #casos .casosDados{
        width: 80%;
    }
}

@media (max-width: 800px) {
    #casos .casosDados{
        width: 40%;
        border-radius: 2em;
        padding: 5vw;
        gap: 15vw;
        flex-direction: column;
    }

}

#casos .casosDados h2{
    font-size: 45px;
    font-weight: bolder;
}

@media (max-width: 400px){
    #casos .casosDados h2{
        font-size: 32px;
    }
}

#casos .casosText{
    margin: 0 auto;
    width: 40%;
    text-align: center;
    margin-top: 5vw;
}

@media (max-width: 1100px) {
    #casos .casosText{
        width: 70%;
    }
}

#casos .casosAtencao{
    margin-top: 5vw;
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: center;
}

@media (max-width: 800px) {
    #casos .casosText{
        margin-top: 10vw;
    }
    #casos .casosAtencao{
        margin-top: 10vw;
    }
}

#casos .casosAtencao img{
    width: 75%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#casos .casosAtencao .casosAtencaoContainer{
    position: absolute;
    right: 0;
    width: 35%;
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding-right: 10vw;
}

@media (max-width: 1400px) {
    #casos .casosAtencao .casosAtencaoContainer{
        width: 50%;
    }

    #casos .casosAtencao img{
        object-fit: cover;
        object-position: right;
    }
}

@media (max-width: 1000px) {
    #casos .casosAtencao img{
        width: 100%;
        object-position: top;
    }
    #casos .casosAtencao .casosAtencaoContainer{
        background-image: linear-gradient(-90deg, var(--cor-fundo) 10%, #e7e7e786 70%, transparent);
        height: 57vh;
        width: 55%;
    }
}

#casos .casosNoticia{
    margin-top: 4vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

@media (max-width: 800px) {
    #casos .casosNoticia{
        margin-top: 10vw;
        gap: 6vw;
    }
}

#casos .Abs2 img{
    position: absolute; 
    z-index: -1;
    left: 0;
}

#casos .casosNoticia .casosNoticiaContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6vw;
}

@media (max-width: 1000px) {
    #casos .casosNoticia .casosNoticiaContainer{
        flex-direction: column;
    }
}

#casos .casosNoticia .casosNoticiaContainer .casosNoticiaCard{
    background-color: var(--cor-fundo2);
    box-shadow: 0px 0px 8px #636363;
    border-radius: 1em 1em 0 0;
    overflow: hidden;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw; 
    cursor: pointer;
    transition: 0.5s;
}

@media (max-width: 1000px) {
    #casos .casosNoticia .casosNoticiaContainer .casosNoticiaCard{
        width:300px;
    }
}

#casos .casosNoticia .casosNoticiaContainer .casosNoticiaCard:hover{
    scale: 1.03;
}

#casos .casosNoticia .casosNoticiaContainer .casosNoticiaCard .cardImg{
    width: 100%;
    height: 220px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#casos .casosNoticia .casosNoticiaContainer .casosNoticiaCard .cardImg span{
    font-size: 20px;
    color: #fff;
    padding: 0 0 20px 20px;
}

#casos .casosNoticia .casosNoticiaContainer .casosNoticiaCard .cardImg span::after{
    content: "";
    width: 70px;
    height: 2px;
    background-color: var(--cor-padrao);
    display: block;
}

#casos .casosNoticia .casosNoticiaContainer .casosNoticiaCard p{
    padding: 15px;
    text-align: center;
}

/*Sobre*/
#sobre{
    margin-top: 5vw;
}

@media (max-width: 1000px) {
    #sobre{
        margin-top: 10vw;
    }
}

#sobre .sobreContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}

@media (max-width: 1000px) {
    #sobre .sobreContainer{
        flex-direction: column;
        gap:5vw;
    }
}

#sobre .sobreContainer .sobreText{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

@media (max-width: 1400px) {
    #sobre .sobreContainer .sobreText{
        width: 50%;
    }
}

@media (max-width: 1000px) {
    #sobre .sobreContainer .sobreText{
        width: 75%;
    }

    #sobre .sobreContainer .sobreText h2{
        text-align: center;
    }

    #sobre .sobreContainer .sobreText p{
        text-align: justify;
    }

}

#sobre .sobreContainer .sobreText p{
    text-indent: 20px;
}

#sobre .sobreContainer img{
    width: 250px;
    transition: 0.5s;
}

#sobre .sobreContainer img:hover{
    rotate: 10deg;
    scale: 1.1;
}

#sobre .sobreContainer img:not(:hover){
    transition: 1s;
}

@media (max-width: 1000px) {
    #sobre .sobreContainer img{
        width: 200px;
    }
}

#sobre .Abs3 img{
    position: absolute; 
    z-index: -1;
    right: 0;
}

#sobre .sobreFuncao{
    margin-top:4vw;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 5vw;
}

@media (max-width: 1000px) {
    #sobre .sobreFuncao{
        margin-top: 10vw;
        flex-wrap: wrap;
    }
}

#sobre .sobreFuncao .sobreFuncaoElemento {
    width:150px;
    display:flex;
    flex-direction: column;
    gap:0.5vw;
    text-align: center;
}

#sobre .sobreFuncao .sobreFuncaoElemento i {
    font-size: 50px;
    color: var(--cor-padrao);
}

#sobre .sobreFuncao .sobreFuncaoElemento i:hover {
    transform: translateY(-10px);
    transition: 700ms;
    color: var(--cor-padrao-escura);
}

#sobre .sobreFuncao .sobreFuncaoElemento i:not(hover) {
    transition: 700ms;
    color: var(--cor-padrao);
}

#sobre .Abs4 img{
    position: absolute; 
    z-index: -1;
    left: 0;
    width: 20%;
    height: 7%;
}

@keyframes bordaAnimada {
    0% {
        border-image-source: linear-gradient(0deg, var(--cor-fundo3), var(--cor-padrao));
    }
    25% {
        border-image-source: linear-gradient(90deg, var(--cor-fundo3), var(--cor-padrao));
    }
    50% {
        border-image-source: linear-gradient(180deg, var(--cor-fundo3), var(--cor-padrao));
    }
    75% {
        border-image-source: linear-gradient(270deg, var(--cor-fundo3), var(--cor-padrao));
    }
    100% {
        border-image-source: linear-gradient(360deg, var(--cor-fundo3), var(--cor-padrao));
    }
}

.sobreTelas{
    margin-top: 5vw;
    width: 100%;
    height: 80vh;
    background-image: url(../img/fundoTelas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: bordaAnimada 5s linear infinite;
    border: 5px solid transparent;
    border-image-slice: 1;
}

.sobreTelas h2{
    color:#fff;
}

/* Slide swiper */
.sobreTelas .telas-swiper .swiper-slide img{
    width:250px;
}

.sobreTelas .telas-swiper{
    width:35%;
    height:85%;
}

@media (max-width: 1000px) {
    .sobreTelas{
        padding:5vw 0;
        height:80vh;
    }

    .sobreTelas .telas-swiper .swiper-slide img{
        width:200px;
    }

    .sobreTelas .telas-swiper{
        height:90%;
        width:50%;
    }
}

.sobreTelas .telas-swiper .swiper-slide{
    display:flex;
    align-items: center;
    justify-content: center;
}

.telas-swiper .swiper-pagination-bullet {
    width:12px;
    height:12px;
    background-color: #fff;
}

/* Fim Slide swiper */

.sobreEsg{
    margin-top:5vw;
    display:flex;
    align-items:center;
    justify-content: center;
    gap:10vw;
    text-align: justify;
}

@media (max-width: 1000px) {
    .sobreEsg{
        margin-top:10vw;
        flex-direction: column;
    }  
}

#sobre .Abs5 img{
    position: absolute; 
    z-index: -1;
    right: 0;
}

.sobreEsg img{
    width:400px;
}

.sobreEsg .sobreEsgText{
    display:flex;
    flex-direction: column;
    gap:1vw;
    width:30%;
}

@media (max-width: 1400px) {
    .sobreEsg .sobreEsgText{
        width:40%;
    }  
}

.sobreEsg .sobreEsgText p{
    text-indent: 20px;
}

@media (max-width: 1000px) {
    .sobreEsg .sobreEsgText{
        width:80%;
    } 

    .sobreEsg .sobreEsgText p{
        text-align:justify;
    }

    .sobreEsg img{
        width:300px;
    }
}

.sobreComp{
    margin-top:5vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2vw;
}

@media (max-width: 1000px) {
    .sobreComp{
        margin-top: 10vw;
        gap:8vw;
    }
}

.sobreComp .sobreCompItem{
    width:60%;
    display:flex;
    align-items:center;
    justify-content: center;
    gap:3vw;
    background-color: var(--cor-padrao-escura);
    color:#fff;
    padding:1vw 2vw;
    border-radius: 2em;
    box-shadow:0px 0px 5px #000;
}

.sobreComp .sobreCompItem:hover{
    transition: 1s;
    background-color: var(--cor-fundo3);
    scale: 1.02;
}

.sobreComp .sobreCompItem:not(hover){
    transition: 1s;
    background-color: var(--cor-padrao-escura);
}

@media (max-width: 1000px) {
    .sobreComp .sobreCompItem{
        flex-direction: column;
        text-align: center;
        padding:3vw;
    }
}

@media (max-width: 1400px) {
    .sobreComp .sobreCompItem{
        width:80%;
    }
}

.sobreComp .sobreCompItem i{
    font-size:60px;
}

.sobreComp .sobreCompItem .sobreItemText h3{
    font-size:22px;
    font-weight: bold;
}

.sobreComp .sobreCompItem .sobreItemText p{
    margin: 0;
}

#sobre .Abs6 img{
    position: absolute; 
    z-index: -1;
    left: 0;
}

/* Denuncia */
#denuncia{
    width:50%;
    text-align:center;
    display:flex;
    flex-direction: column;
    gap:1vw;
    margin:5vw auto 0 auto;
}

@media (max-width: 1400px) {
    #denuncia{
        margin-top:10vw;
        width:80%;
    }
}

#denuncia .denunciaContainer{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    #denuncia .denunciaContainer{
        flex-direction: column;
        gap:8vw;
    }
}

#denuncia .denunciaContainer a{
    text-decoration: none;
}

#denuncia .denunciaContainer .denunciaBtn{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:220px;
    height:220px;
    padding:10px;
    border-radius:100%;
    border:3px solid var(--cor-padrao);
    transition: 0.5s;
}

#denuncia .denunciaContainer .denunciaBtn:hover{
    background-color: #dacaeb;
    scale:1.05;
}

#denuncia .denunciaContainer .denunciaBtn h3, #denuncia .denunciaContainer .denunciaBtn i{
    font-size:50px;
    color:var(--cor-padrao);
    font-weight: bolder;
}

#denuncia .denunciaContainer .denunciaBtn span{
    font-size:14px;
}