:root, :root[data-theme='light']{
  --cor-fundo:#E7E7E7;
  --cor-fundo2:#cecece;
  --cor-fundo3:#170826;
  --cor-padrao:#651BB3;
  --cor-padrao-escura:#320046;
  --cor-texto:#000;
}

/*Tamanho da scrollbar*/
::-webkit-scrollbar {
    width: 9px;
}

/*Cor padrão da barra de rolagem*/
::-webkit-scrollbar-thumb {
    background: #a18afd;
    border-radius: 10px;
}

/*Cor ao usuário passar o mouse por cima*/
::-webkit-scrollbar-thumb:hover {
    background: var(--cor-padrao);
}

html {
  scroll-behavior: smooth;
  font-family: arial;
  font-size: 18px;
  position: relative;
  min-height: 100%;
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 12px;
  }
}

body {
  font-family:arial;
  background-color:var(--cor-fundo);
  margin-bottom: 60px;
}

h2{
  text-transform: uppercase;
  color:var(--cor-texto);
  font-family: arial black;
}

h2 span{
    color: var(--cor-padrao);
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}