@{
    ViewData["Title"] = "Login";
}

<div class="containerLogin">

    <style>
        body {
            overflow: hidden; /* Impede o scroll da página */
        }
    </style>
   
    <section id="info">
        <img src="~/img/logo.png" alt="Logo-SafeWay" class="logo">

        <div class="efeitoSup">
            <img src="~/img/EfeitoRoxo.png" alt="Efeito roxo">
        </div>
        
        <div class="infoText">
            <h2>Que bom te ver novamente!</h2>
            <p>Faça login para continuar acessando suas informações com segurança.
                Estamos felizes pelo seu retorno.
                Insira seus dados de acesso e aproveite todos os recursos disponíveis na nossa plataforma!
            </p>
            <a asp-controller="Home" asp-action="Index">
                <button class="btnLogin">Entrar sem conta</button>
            </a>
        </div>

        <div class="efeitoInf">
            <img src="~/img/EfeitoRoxo.png" alt="Efeito roxo">
        </div>
    </section>

    <section id="login">
        <h1 id="loginText">Login</h1>
       
        <div id="loginFormatacao">
            <form method="post" asp-controller="Conta" asp-action="Login">
                <div class="inputContainer">
                    <label for="Email">Email</label>
                    <input type="text" name="Email" id="Email" required>
                </div>
                <div class="inputContainer">
                    <label for="Senha">Senha</label>
                    <input type="password" name="Senha" id="Senha" required>
                </div>
                <button type="submit" id="btnEntrar">Entrar</button>
            </form>
        </div>

        <div id="irLogin">
            <p style="margin-bottom: 20px; color: var(--cor-padrao-escura);">Não tem conta? <a style="color: var(--cor-padrao); text-decoration: underline;" asp-controller="Home" asp-action="Cadastro">Cadastrar</a></p>
        </div>

        @foreach (var erro in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p id="error">@erro.ErrorMessage</p>
        }

        <div class="containerHr">
            <div class="linha"></div>
            <div class="linha"></div>
        </div>

    </section>
</div>