@{
    ViewData["Title"] = "Cadastro";
}

<div class="containerLogin">

    <style>
        body {
            overflow: hidden; /* Impede o scroll da página */
        }
    </style>
   
    <section id="info">
        <img src="~/img/logo.png" alt="Logo-SafeWay" class="logo">

        <div class="efeitoSup">
            <img src="~/img/EfeitoRoxo.png" alt="Efeito roxo">
        </div>
        
        <div class="infoText">
            <h2>Seja bem vindo(a)!</h2>
            <p>Preencha os campos abaixo com suas informações pessoais para criar sua conta.
                Após o envio, você poderá acessar todos os recursos disponíveis na plataforma.
                Caso não deseje se cadastrar, clique no botão abaixo.
            </p>
            <a asp-controller="Home" asp-action="Index">
                <button class="btnLogin">Entrar sem conta</button>
            </a>
        </div>

        <div class="efeitoInf">
            <img src="~/img/EfeitoRoxo.png" alt="Efeito roxo">
        </div>
    </section>

    <section id="login">

        <h1 id="loginText">Cadastro</h1>
       
        <div id="loginFormatacao">
            <form asp-action="Cadastro" asp-controller="Conta" method="post">
                <div class="inputContainer">
                    <label for="Nome">Nome</label>
                    <input type="text" name="Nome" id="Nome" required>
                </div>
                <div class="inputContainer">
                    <label for="Email">Email</label>
                    <input type="email" name="Email" id="Email" required>
                </div>
                <div class="inputContainer">
                    <label for="Senha">Senha</label>
                    <input type="password" name="Senha" id="Senha" required>
                </div>
                <button type="submit" id="btnEntrar">Cadastrar</button>
            </form>
        </div>

        <div id="irLogin">
            <p style="margin-bottom: 20px; color: var(--cor-padrao-escura);">Possui cadastro? <a style="color: var(--cor-padrao); text-decoration: underline;" asp-controller="Home" asp-action="Login">Entrar</a></p>
        </div>

        <div class="containerHrCad">
            <div class="linha"></div>
            <div class="linha"></div>
        </div>

        @if (ViewBag.Mensagem != null)
        {
            <p style="color: green;">@ViewBag.Mensagem</p>
        }

    </section>
</div>