@{
    ViewData["Title"] = "Home";
}

<header>
    <a href="#home">
        <img src="~/img/logo.png" alt="Logo-SafeWay" class="logoHeader">
    </a>

    <nav>
        <a href="#home">Home</a>
        <a href="#casos">Casos</a>
        <a href="#sobre">Sobre</a>
        <a href="#denuncia">Denúncia</a>

        <div class="Perfil">
            <i class="bi bi-person-fill"></i>
            
            @{
                var nomeUsuario = Context.Session.GetString("UsuarioNome"); // Recuperando o nome do usuário
            }

            <div class="dropdown-menu">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <i class="bi bi-person-fill"></i>
                    <h2 style="text-transform: uppercase;">@(string.IsNullOrEmpty(nomeUsuario) ? "Desconectado" : $"{nomeUsuario}")</h2>
                </div>

                @if (!string.IsNullOrEmpty(nomeUsuario)) // Se o usuário estiver logado, exibe as opções
                {
                    <a asp-controller="Home" asp-action="Perfil">Acessar Perfil</a>
                    <div class="divisor"></div>
                    <a asp-controller="Conta" asp-action="Logout">Sair da Conta</a>
                    <div class="divisor"></div>
                }

                @if (string.IsNullOrEmpty(nomeUsuario)) // Se o usuário não estiver logado, exibe as opções
                {   
                    <a asp-controller="Home" asp-action="Index">Página Inicial</a>
                    <div class="divisor"></div>
                    <a asp-controller="Conta" asp-action="Login">Entrar na conta</a>
                    <div class="divisor"></div>
                }
                
            </div>
        </div>

    </nav>
</header>

<section id="home">
    <div class="homeText">
        <h1>O aplicativo que vai <b>salvar</b> sua vida</h1>
        <p>SafeWay é um app de segurança pessoal que protege você contra sequestros.
            Apenas em um clique, aciona rapidamente as autoridades competentes.
            Segurança eficaz, simples e sempre à mão.</p>
        <button>Clique para baixar <i class="bi bi-arrow-up-right"></i></button>
    </div>

    <img src="~/img/appHome.png" alt="Celular com o aplicativo SafeWay">
</section>

<section id="casos">

    <div class="AbsRight">
        <img src="~/img/Abstrata1.png" alt="Forma roxa abstrata">
    </div>

    <div class="casosDados">
        <div>
            <h2>1800+</h2>
            <span>Feminicídios (2024)</span>
        </div>
        
        <div>
            <h2>1200+</h2>
            <span>Feminicídios (2023)</span>
        </div>

        <div>
            <h2>1100+</h2>
            <span>Feminicídios (2022)</span>
        </div>
    </div>

    <div class="casosText">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien, vehicula eu viverra et, porttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diam. </p>
    </div>

    <div class="casosAtencao">
        <img src="~/img/fundoAtencao.jpg">

        <div class="casosAtencaoContainer">
            <h2>Cuidado ao andar <span>sozinho(a)!</span></h2>
            <p>Evite trajetos isolados, escolha caminhos iluminados. Mantenha contato com alguém de confiança. 
                Se sentir-se ameaçado(a), acione as autoridades. 
                Sua segurança começa com pequenas atitudes — esteja sempre atento(a) ao seu redor.</p>
        </div>
    </div>

    <div class="AbsLeft">
        <img src="~/img/Abstrata2.png" alt="Forma roxa abstrata">
    </div>

    <div class="casosNoticia">
        <h2>Casos reais</h2>
        <div class="casosNoticiaContainer">
            <div class="casosNoticiaCard">
                <div class="cardImg" style="background-image: url(../img/caso6.jpg);">
                    <span>Caso Ana</span>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien, vehicula eu viverra et, porttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diam. </p>
            </div>

            <div class="casosNoticiaCard">
                <div class="cardImg" style="background-image: url(../img/caso7.jpg);">
                    <span>Caso Luisa</span>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien, vehicula eu viverra et, porttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diam. </p>
            </div>

            <div class="casosNoticiaCard">
                <div class="cardImg" style="background-image: url(../img/caso8.jpg);">
                    <span>Caso Maria</span>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien, vehicula eu viverra et, porttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diam. </p>
            </div>
        </div>
    </div>
    
</section>

<section id="sobre">
    <div class="AbsRight">
        <img src="~/img/Abstrata3.png" alt="Forma roxa abstrata">
    </div>
    <div class="sobreContainer">
        <div class="sobreText">
            <h2>Sobre o <span>aplicativo</span></h2>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien, vehicula eu viverra et, porttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien, vehicula eu viverra et, porttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien, vehicula eu viverra et, porttitor ut augue. Maecenas metus justo, pretium quis.</p>
            </div>
        </div>
        <img src="~/img/appSobre.png" alt="Tela do celular com o aplicativo">
    </div>

    <div class="sobreFuncao"> 
        <div class="sobreFuncaoElemento">
            <i class="bi bi-gear"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien.</p>
        </div>

        <div class="sobreFuncaoElemento">
            <i class="bi bi-gear"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien.</p>
        </div>

        <div class="sobreFuncaoElemento">
            <i class="bi bi-gear"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien.</p>
        </div>

        <div class="sobreFuncaoElemento">
            <i class="bi bi-gear"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien.</p>
        </div>

        <div class="Abs4">
            <img src="~/img/Abstrata4.png" alt="Forma roxa abstrata">
        </div>
    </div>

    <div class="sobreTelas">
        <h2>Disponível no mobile!</h2>

        <!-- Slide Swiper -->
        <div class="swiper telas-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="~/img/telas/celularTela1.png" alt="Tela inicial do aplicativo">
                </div>

                <div class="swiper-slide">
                   <img src="~/img/telas/celularTela1.png" alt="Tela inicial do aplicativo">
                </div>

                <div class="swiper-slide">
                   <img src="~/img/telas/celularTela1.png" alt="Tela inicial do aplicativo">
                </div>
            </div>
            <div id="btn-servicos" class="swiper-pagination"></div>
            <div id="back-slides-servicos"></div>
        </div>
    </div>

    <div class="sobreEsg">
        <div class="imgContainer">
        <img src="~/img/imgEsg.png" class="imgEsg" alt="Siglas do ESG">
        </div>

        <div class="AbsRight">
            <img src="~/img/Abstrata5.png" alt="Forma roxa abstrata">
        </div>

        <div class="sobreEsgText">
            <h2>Como o <span>aplicativo</span> se enquadra nos pilares <span>esg?</span></h2>
            <p>No pilar social, promove segurança a quem retorna do trabalho à noite, com rotas seguras e alertas em tempo real. No ambiental, incentiva trajetos sustentáveis, com menor impacto ambiental. Na governança, adota políticas de privacidade e dados transparentes, com foco na ética e na inclusão digital. A solução contribui para cidades mais seguras e igualitárias. Ao mitigar riscos e promover o bem-estar social, o aplicativo mostra como tecnologia e responsabilidade caminham juntas rumo a um futuro mais justo, seguro e sustentável.</p>
        </div>
    </div>

    <div class="sobreComp">
        <div class="AbsLeft">
            <img src="~/img/Abstrata6.png" alt="Forma roxa abstrata">
        </div>
        <div class="sobreCompItem">
            <i class="bi bi-person-standing-dress"></i>
            <div class="sobreItemText">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien.</p>
            </div>
        </div>

        <div class="sobreCompItem">
            <i class="bi bi-person-standing-dress"></i>
            <div class="sobreItemText">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien.</p>
            </div>
        </div>

        <div class="sobreCompItem">
            <i class="bi bi-person-standing-dress"></i>
            <div class="sobreItemText">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien.</p>
            </div>
        </div>
    </div>

</section>

<section id="denuncia">
    <h2>Canais de denúncia</h2>
    <p>Os canais de denúncia desempenham um papel essencial na sociedade ao fornecerem um meio seguro e acessível para que vítimas e testemunhas possam relatar crimes, abusos ou situações de risco.</p>
    <div class="denunciaContainer">
        <a href="tel:180"><button class="denunciaBtn">
            <h3>180</h3>
            <span>Clique para entrar em contato com à central de ajuda a mulher</span>
        </button></a>
        <a href="tel:190"><button class="denunciaBtn">
            <h3>190</h3>
            <span>Clique para entrar em contato com a policia militar em caso de perigo imediato.</span>
        </button></a>
        <a href="https://azmina.com.br/projetos/delegacia-da-mulher/" target="_blank"><button class="denunciaBtn">
            <i class="bi bi-geo-alt-fill"></i>
            <span>Clique e acesse o mapa com a localização das delegacias para mulheres</span>
        </button></a>
    </div>
</section>
<br><br>