@{
    ViewData["Title"] = "Home";
}

<header>
    <a href="#home">
        <img src="~/img/logo.png" alt="Logo-SafeWay" class="logoHeader">
    </a>

    <nav>
        <a href="#home">Home</a>
        <a href="#casos">Casos</a>
        <a href="#sobre">Sobre</a>
        <a href="#denuncia">Denúncia</a>

        <div class="Perfil">
            <i class="bi bi-person-fill"></i>
            
            <div class="dropdown-menu">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <i class="bi bi-person-fill"></i>
                    <h2>Desconectado</h2>
                </div>
                <a asp-controller="Home" asp-action="Index">Página Inicial</a>
                <div class="divisor"></div>
                <a asp-controller="Home" asp-action="Login">Entrar na conta</a>
                <div class="divisor"></div>
            </div>
        </div>

    </nav>
</header>

<section id="home">
    <div class="homeText">
        <h1>O aplicativo que vai <b>salvar</b> sua vida</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien, vehicula eu viverra et, porttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diam.</p>
        <button>Clique para baixar <i class="bi bi-arrow-up-right"></i></button>
    </div>

    <img src="~/img/appHome.png" alt="Celular com o aplicativo SafeWay">
</section>

<section id="casos">

    <div class="Abs1">
        <img src="~/img/Abstrata1.png" alt="Forma roxa abstrata">
    </div>

    <div class="casosDados">
        <div>
            <h2>1800+</h2>
            <span>Feminicídios (2024)</span>
        </div>
        
        <div>
            <h2>1200+</h2>
            <span>Feminicídios (2023)</span>
        </div>

        <div>
            <h2>1100+</h2>
            <span>Feminicídios (2022)</span>
        </div>
    </div>

    <div class="casosText">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien, vehicula eu viverra et, porttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diam. </p>
    </div>

    <div class="casosAtencao">
        <img src="~/img/fundoAtencao.jpg">

        <div class="casosAtencaoContainer">
            <h2>Cuidado ao andar <span>sozinho(a)!</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien, vehicula eu viverra et, porttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diamporttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diam. </p>
        </div>
    </div>

    <div class="Abs2">
        <img src="~/img/Abstrata2.png" alt="Forma roxa abstrata">
    </div>

    <div class="casosNoticia">
        <h2>Casos reais</h2>
        <div class="casosNoticiaContainer">
            <div class="casosNoticiaCard">
                <div class="cardImg" style="background-image: url(../img/caso1.jpg);">
                    <span>Caso Maria</span>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien, vehicula eu viverra et, porttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diam. </p>
            </div>

            <div class="casosNoticiaCard">
                <div class="cardImg" style="background-image: url(../img/caso1.jpg);">
                    <span>Caso Luisa</span>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien, vehicula eu viverra et, porttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diam. </p>
            </div>

            <div class="casosNoticiaCard">
                <div class="cardImg" style="background-image: url(../img/caso1.jpg);">
                    <span>Caso Ana</span>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien, vehicula eu viverra et, porttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diam. </p>
            </div>
        </div>
    </div>
    
</section>

<section id="sobre">
    <div class="sobreContainer">
        <div class="sobreText">
            <h2>Sobre o <span>aplicativo</span></h2>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien, vehicula eu viverra et, porttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien, vehicula eu viverra et, porttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien, vehicula eu viverra et, porttitor ut augue. Maecenas metus justo, pretium quis.</p>
            </div>
        </div>
        <img src="~/img/appSobre.png" alt="Tela do celular com o aplicativo">
    </div>

    <div class="sobreFuncao"> 
        <div class="sobreFuncaoElemento">
            <i class="bi bi-gear"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien.</p>
        </div>

        <div class="sobreFuncaoElemento">
            <i class="bi bi-gear"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien.</p>
        </div>

        <div class="sobreFuncaoElemento">
            <i class="bi bi-gear"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien.</p>
        </div>

        <div class="sobreFuncaoElemento">
            <i class="bi bi-gear"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien.</p>
        </div>
    </div>

    <div class="sobreTelas">
        <h2>Disponível no mobile!</h2>

        <!-- Slide Swiper -->
        <div class="swiper telas-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="~/img/telas/celularTela1.png" alt="Tela inicial do aplicativo">
                </div>

                <div class="swiper-slide">
                   <img src="~/img/telas/celularTela1.png" alt="Tela inicial do aplicativo">
                </div>

                <div class="swiper-slide">
                   <img src="~/img/telas/celularTela1.png" alt="Tela inicial do aplicativo">
                </div>
            </div>
            <div id="btn-servicos" class="swiper-pagination"></div>
            <div id="back-slides-servicos"></div>
        </div>
    </div>

    <div class="sobreEsg">
        <img src="~/img/imgEsg.png" alt="Siglas do ESG">

        <div class="sobreEsgText">
            <h2>Como o <span>aplicativo</span> se encaixa no <span>esg?</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien, vehicula eu viverra et, porttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diamporttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diam. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diamporttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diam.</p>
        </div>
    </div>

    <div class="sobreComp">
        <div class="sobreCompItem">
            <i class="bi bi-person-standing-dress"></i>
            <div class="sobreItemText">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien.</p>
            </div>
        </div>

        <div class="sobreCompItem">
            <i class="bi bi-person-standing-dress"></i>
            <div class="sobreItemText">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien.</p>
            </div>
        </div>

        <div class="sobreCompItem">
            <i class="bi bi-person-standing-dress"></i>
            <div class="sobreItemText">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien.</p>
            </div>
        </div>
    </div>
</section>

<section id="denuncia">
    <h2>Canais de denúncia</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien, vehicula eu viverra et, porttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diam. </p>
</section>