@{
    ViewData["Title"] = "Home";
}

<header>

    <!-- Logo -->
    <a href="#home">
        <img src="~/img/logo.png" alt="Logo-SafeWay" class="logoHeader">
    </a>

    <nav>
        <!-- Links do navbar -->
        <a href="#home">Home</a>
        <a href="#casos">Casos</a>
        <a href="#sobre">Sobre</a>
        <a href="#denuncia">Denúncia</a>

        <!-- Início do Menu -->
        <div class="Perfil">

            <!-- Ícone -->
            <i class="bi bi-person-fill"></i>
            
            @{ // Verifica se o usuário está logado e recupera o nome do usuário da sessão
                var nomeUsuario = Context.Session.GetString("UsuarioNome"); // Recuperando o nome do usuário
            }
            
            <!-- Menu do perfil -->
            <div class="dropdown-menu">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    
                    <!-- Ícone do perfil -->
                    <i class="bi bi-person-fill"></i>

                    <!-- Caso o usuário esteja conectado aparece seu nome, se não aparece "Desconectado" -->
                    <h2 style="text-transform: uppercase;">@(string.IsNullOrEmpty(nomeUsuario) ? "Desconectado" : $"{nomeUsuario}")</h2>
                </div>

                @if (!string.IsNullOrEmpty(nomeUsuario)) // Se o usuário estiver logado, exibe as opções
                {
                    <a asp-controller="Home" asp-action="Perfil">Acessar Perfil</a> // Link para acessar o perfil
                    <div class="divisor"></div> // Hr branca
                    <a asp-controller="Conta" asp-action="Logout">Sair da Conta</a> // Link para sair da conta
                    <div class="divisor"></div> // Hr branca
                }

                @if (string.IsNullOrEmpty(nomeUsuario)) // Se o usuário não estiver logado, exibe as opções
                {   
                    <a asp-controller="Home" asp-action="Index">Página Inicial</a> // Link para a página inicial
                    <div class="divisor"></div> // Hr branca
                    <a asp-controller="Conta" asp-action="Login">Entrar na conta</a> // Link para login
                    <div class="divisor"></div> // Hr branca
                }
            </div>

        </div>
    </nav>
</header>

<!-- Seção inicial -->
<section id="home">

    <!-- Texto principal da seção home-->
    <div class="homeText">
        <h1>O aplicativo que vai <b>salvar</b> sua vida</h1>
        <p>SafeWay é um app de segurança pessoal que protege você contra sequestros.
            Apenas em um clique, aciona rapidamente as autoridades competentes.
            Segurança eficaz, simples e sempre à mão.</p>

        <!-- Botão para download do aplicativo -->
        <button>Clique para baixar <i class="bi bi-arrow-up-right"></i></button> 
    </div>

    <!-- Imagem do celular com animação -->
    <img src="~/img/appHome.png" alt="Celular com o aplicativo SafeWay">

</section>

<!-- Seção de casos reais -->
<section id="casos">

    <!-- Efeito roxa abstrata -->
    <div class="AbsRight">
        <img src="~/img/Abstrata1.png" alt="Forma roxa abstrata">
    </div>

    <!-- Dados estatísticos -->
    <div class="casosDados">
        <div>
            <!-- Dados e conteúdo -->
            <h2>1800+</h2>
            <span>Feminicídios (2024)</span>
        </div>
        
        <div>
            <!-- Dados e conteúdo -->
            <h2>1200+</h2>
            <span>Feminicídios (2023)</span>
        </div>

        <div>
            <!-- Dados e conteúdo -->
            <h2>1100+</h2>
            <span>Feminicídios (2022)</span>
        </div>
    </div>

    <!-- Texto abaixo dos dados estatísticos -->
    <div class="casosText">
        <p>Andar sozinha ainda é um risco real para muitas mulheres no Brasil. Dados do Fórum Brasileiro de Segurança Pública mostram que uma mulher é vítima de violência a cada 4 minutos. Assédios, agressões e perseguições ocorrem até em trajetos comuns, como o caminho do trabalho ou da faculdade.</p>
    </div>

    <!-- Seção de "Cuidado" -->
    <div class="casosAtencao">

        <!-- Imagem de atenção no fundo -->
        <img src="~/img/fundoAtencao.jpg">

        <!-- Título e conteúdo à direita -->
        <div class="casosAtencaoContainer">
            <h2>Cuidado ao andar <span>sozinho(a)!</span></h2>
            <p>Evite trajetos isolados, escolha caminhos iluminados. Mantenha contato com alguém de confiança. 
                Se sentir-se ameaçado(a), acione as autoridades. 
                Sua segurança começa com pequenas atitudes — esteja sempre atento(a) ao seu redor.</p>
        </div>
    </div>

    <!-- Efeito roxo abstrata -->
    <div class="AbsLeft">
        <img src="~/img/Abstrata2.png" alt="Forma roxa abstrata">
    </div>

    <!-- Cards de casos reais -->
    <div class="casosNoticia">

        <!-- Título -->
        <h2>Casos reais</h2>

        <!-- Contâiner dos cards -->
        <div class="casosNoticiaContainer">

            <!-- Card Ana -->
            <div class="casosNoticiaCard">

                <!-- Imagem do caso -->
                <div class="cardImg" style="background-image: url(../img/caso6.jpg);">
                    <span>Caso Vitória Regina</span>
                </div>

                <!-- Texto do card -->
                <p>O caso Vitória Regina de Sousa refere-se ao desaparecimento e assassinato de uma jovem de 17 anos em Cajamar, Grande São Paulo, após sair do trabalho. Vitória foi encontrada morta em uma área de mata, com sinais de violência e três facadas.</p>
                <a href="https://g1.globo.com/sp/sao-paulo/noticia/2025/03/10/caso-vitoria-adolescente-foi-morta-com-tres-facadas-e-tinha-sinais-de-tortura-dizem-peritos-de-sp.ghtml" target="_blank">Ver mais</a>
            </div>

            <!-- Card Luísa -->
            <div class="casosNoticiaCard">
                
                <!-- Imagem do caso  -->
                <div class="cardImg" style="background-image: url(../img/caso7.jpg);">
                    <span>Caso Laryssa Cristina</span>
                </div>

                <!-- Texto do card -->
                <p>Em dezembro de 2024, Laryssa Cristina Agostinho dos Santos, de 21 anos, desapareceu após sair do trabalho em Caraguatatuba, litoral de São Paulo. Dias depois, seu corpo foi encontrado em uma área de mata, com sinais de violência física.</p>
                <a href="https://diariodoestadogo.com.br/jovem-de-21-anos-desaparecida-e-encontrada-morta-em-mata-em-caraguatatuba-sp-policia-investiga-agressao/?utm_source=chatgpt.com" target="_blank">Ver mais</a>
            </div>

            <!-- Card Maria -->
            <div class="casosNoticiaCard">

                <!-- Imagem do caso -->
                <div class="cardImg" style="background-image: url(../img/caso8.jpg);">
                    <span>Caso Vera Maria</span>
                </div>

                <!-- Texto do card -->
                <p>Em março de 2024, Vera Maria de Souza Gomes, diarista de Niterói (RJ), saiu de casa para mais um dia de trabalho e nunca mais voltou. Seu corpo foi encontrado 15 dias depois em um terreno baldio. As investigações apontam para homicídio.</p>
                <a href="https://extra.globo.com/rio/noticia/2024/03/diarista-desaparecida-ha-15-dias-ao-sair-para-trabalho-no-inga-em-niteroi-e-encontrada-morta.ghtml" target="_blank">Ver mais</a>
            </div>
        </div>
    </div>
    
</section>

<!-- Seção "Sobre" -->
<section id="sobre">

    <!-- Efeito roxo abstrata -->
    <div class="AbsRight">
        <img src="~/img/Abstrata3.png" alt="Forma roxa abstrata">
    </div>

    <!-- Conteúdo do aplicativo -->
    <div class="sobreContainer">
        <div class="sobreText">
            <h2>Sobre o <span>aplicativo</span></h2>
            <div>
                <p>A violência contra a mulher ainda é uma triste realidade no Brasil, principalmente em trajetos solitários à noite. Pensando nisso, desenvolvemos um aplicativo que atua como uma ferramenta de proteção, companhia e resposta rápida em situações de risco.</p>
                <p>A proposta é simples: permitir que pessoas se sintam mais seguras ao voltarem para casa, usando tecnologia para prevenir e agir em casos de emergência. Com funcionalidades inteligentes e acessíveis, o app combina cuidado, inovação e ação, colocando a segurança das pessoas em primeiro lugar.</p>
            </div>
        </div>

        <!-- Mockup do aplicativo -->
        <img src="~/img/appSobre.png" alt="Tela do celular com o aplicativo">
    </div>

    <!-- Engrenagens -->
    <div class="sobreFuncao"> 

        <!-- Engrenagem 1 -->
        <div class="sobreFuncaoElemento">

            <!-- Ícone -->
            <i class="bi bi-geo-alt-fill"></i>

            <!-- Texto -->
            <p>Compartilhe sua localização em tempo real com contatos confiáveis até chegar ao destino.</p>
        </div>

        <!-- Engrenagem 2 -->
        <div class="sobreFuncaoElemento">

            <!-- Ícone -->
            <i class="bi bi-person-walking"></i>

            <!-- Texto -->
            <p>Movimentos bruscos, quedas ou corrida são identificados automaticamente pelo app.</p>
        </div>

        <!-- Engrenagem 3 -->
        <div class="sobreFuncaoElemento">

            <!-- Ícone -->
            <i class="bi bi-exclamation-triangle-fill"></i>

            <!-- Texto -->
            <p>Com um toque, envie alertas urgentes para seus contatos ou acione a polícia.</p>
        </div>

        <!-- Engrenagem 4 -->
        <div class="sobreFuncaoElemento">

            <!-- Ícone -->
            <i class="bi bi-chat-dots-fill"></i>

            <!-- Texto -->
            <p>Peça ajuda discretamente com mensagens disfarçadas, caso não possa falar abertamente.</p>
        </div>

        <!-- Efeito roxo abstrata -->
        <div class="Abs4">
            <img src="~/img/Abstrata4.png" alt="Forma roxa abstrata">
        </div>
    </div>

    <!-- Fundo escuro com carrousel -->
    <div class="sobreTelas">

        <!-- Título -->
        <h2>Disponível no mobile!</h2>

        <!-- Carrousel -->
        <div class="swiper telas-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">

                    <!-- Mockup 1 -->
                    <img src="~/img/telas/celularTela1.png" alt="Tela inicial do aplicativo">
                </div>

                <div class="swiper-slide">

                   <!-- Mockup 2 -->
                   <img src="~/img/telas/celularTela1.png" alt="Tela inicial do aplicativo">
                </div>

                <div class="swiper-slide">

                    <!-- Mockup 3 -->
                   <img src="~/img/telas/celularTela1.png" alt="Tela inicial do aplicativo">
                </div>
            </div>

            <!-- Botões de navegação do carrousel -->
            <div id="btn-servicos" class="swiper-pagination"></div>
            <div id="back-slides-servicos"></div>
        </div>
    </div>

    <!-- Seção ESG -->
    <div class="sobreEsg">

        <!-- Imagem do ESG -->
        <div class="imgContainer">
            <img src="~/img/imgEsg.png" class="imgEsg" alt="Siglas do ESG">
        </div>

        <!-- Efeito roxo abstrata -->
        <div class="AbsRight">
            <img src="~/img/Abstrata5.png" alt="Forma roxa abstrata">
        </div>

        <!-- Conteúdo sobre o ESG-->
        <div class="sobreEsgText">
            <h2>Como o <span>aplicativo</span> se enquadra nos pilares <span>esg?</span></h2>
            <p>Nosso aplicativo nasce com o compromisso de usar a tecnologia como aliada na construção de um mundo mais seguro, justo e consciente. Ele vai além da funcionalidade: representa uma escolha por impacto positivo. Ao promover proteção para mulheres, incentivar trajetos responsáveis e garantir o uso ético dos dados, a solução se alinha diretamente aos princípios do ESG, contribuindo para uma sociedade mais equilibrada e comprometida com o bem coletivo. Trata-se de uma ferramenta que une inovação, responsabilidade e propósito.</p>
        </div>

    </div>

    <!-- Seção de cards horizontais  -->
    <div class="sobreComp">

        <!-- Efeito roxo abstrata -->
        <div class="AbsLeft">
            <img src="~/img/Abstrata6.png" alt="Forma roxa abstrata">
        </div>

        <!-- Card 1 -->
        <div class="sobreCompItem">

            <!-- Ícone -->
            <i class="bi bi-person-standing-dress"></i>

            <!-- Conteúdo do card -->
            <div class="sobreItemText">
                <h3>Como se encaixa no social?</h3>
                <p>O aplicativo fortalece a segurança de pessoas no dia a dia, oferecendo rotas mais seguras, acompanhamento em tempo real e alertas de emergência.</p>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="sobreCompItem">

            <!-- Ícone -->
            <i class="bi bi-sign-turn-right-fill"></i>

            <!-- Conteúdo do card -->
            <div class="sobreItemText">
                <h3>Como se encaixa no ambiental?</h3>
                <p>Com a sugestão de rotas inteligentes, o app também incentiva escolhas sustentáveis, reduzindo deslocamentos longos e impactantes.</p>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="sobreCompItem">

            <!-- Ícone -->
            <i class="bi bi-shield-fill-check"></i>

            <!-- Conteúdo do card -->
            <div class="sobreItemText">
                <h3>Como se encaixa na governança?</h3>
                <p>Nossa plataforma adota políticas claras de privacidade e proteção de dados, prezando pela ética, transparência e inclusão digital.</p>
            </div>
        </div>
    </div>

</section>

<!-- Seção de denúncia -->
<section id="denuncia">

    <!-- Título dos canais de denúncia -->
    <h2>Canais de denúncia</h2>
    <p>Os canais de denúncia desempenham um papel essencial na sociedade ao fornecerem um meio seguro e acessível para que vítimas e testemunhas possam relatar crimes, abusos ou situações de risco.</p>
    
    <!-- Contâiner -->
    <div class="denunciaContainer">

        <!-- Contato da Central de ajuda à mulher -->
        <a href="tel:180"><button class="denunciaBtn">
            <h3>180</h3>
            <span>Clique para entrar em contato com à central de ajuda a mulher</span>
        </button></a>

        <!-- Contato da Polícia Militar -->
        <a href="tel:190"><button class="denunciaBtn">
            <h3>190</h3>
            <span>Clique para entrar em contato com a policia militar em caso de perigo imediato.</span>
        </button></a>

        <!-- Localização de Delegacias da Mulher -->
        <a href="https://azmina.com.br/projetos/delegacia-da-mulher/" target="_blank"><button class="denunciaBtn">
            <i class="bi bi-geo-alt-fill"></i>
            <span>Clique e acesse o mapa com a localização das delegacias para mulheres</span>
        </button></a>
    </div>

</section>

<!-- Espaço entre o final do conteúdo e o copyright -->
<br><br>