@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <section id="login">

        <img src="~/img/logo.png" alt="Logo-SafeWay" class="logo">

        <div class="loginText"></div>
            <h1>Seja Bem vindo(a)!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien, vehicula eu viverra et, porttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diam.</p>
            <button class="btnLogin">Entrar sem conta</button>
        </div>

    </section>

    <!--
    <section id="registro">
        <h1>Login</h1>
        <form method="post" action="#">
            <div class="inputContainer">
                <input type="text" name="username" placeholder="Usuário" required>
            </div>
            <div class="inputContainer">
                <input type="password" name="password" placeholder="Senha" required>
            </div>
            <button type="submit">Entrar</button>
        </form>
        <p>Não tem uma conta? <a href="#">Crie uma agora!</a></p>

    </section>
    -->
    
</div>
    
</section>