@{
    ViewData["Title"] = "Perfil";
}

<header>
    <a asp-controller="Home" asp-action="Index">
        <img src="~/img/logo.png" alt="Logo-SafeWay" class="logoHeader">
    </a>

    <nav>
        <div class="Perfil">
            <i class="bi bi-person-fill"></i>
            
            <div class="dropdown-menu">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <i class="bi bi-person-fill"></i>
                    <h2>Desconectado</h2>
                </div>
                <a asp-controller="Home" asp-action="Index">Página Inicial</a>
                <div class="divisor"></div>
                <a asp-controller="Home" asp-action="Login">Entrar na conta</a>
                <div class="divisor"></div>
            </div>
        </div>
    </nav>
</header>

<section class="perfilInicio">
    <img src="~/img/perfil.jpg" alt="Foto de perfil">
    <form class="formDadosInicio">
        <input type="text" name="nome" placeholder="Nome">
        <input type="text" name="descricao" placeholder="Descrição">
        <div class="botoes">
            <button>Aplicar</button>
            <button>Editar</button>
        </div>
    </form>
</section>

<section class="perfilHome">
    <h2>O Que é seu <span>perfil?</span></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien, vehicula eu viverra et, porttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diamporttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien, vehicula eu viverra et, porttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diamporttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diam.</p>

    <div class="perfilHomeDados">
        <h3>Seus dados do aplicativo</h3>
        <div class="perfilDadosContainer">
            <div class="dados">

            </div>
            <div class="dados">

            </div>
            <div class="dados">

            </div>
        </div>
    </div>

    <form class="formDepoimento" action="">
        <h2>Fale sobre nosso <span>aplicativo!</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In neque sapien, vehicula eu viverra et, porttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diamporttitor ut augue. Maecenas metus justo, pretium quis erat sodales, faucibus vulputate diam.</p>
        <textarea name="depoimento" maxlength="500"></textarea>
        <button>Adicionar</button>
    </form>

    <div class="depoimentosPessoal">
        <h2>Seus depoimentos</h2>
        <div class="depoimentoCard">
            <img src="~/img/perfil.jpg" alt="Foto de perfil">
            <div class="depoimentoCardText">
                <h3>Nome</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <button>Excluir</button>
        </div>
    </div>

    <div class="depoimentosComunidade">
        <h2>depoimentos da <span>comunidade</span></h2>
        <div class="depoimentoCard">
            <img src="~/img/perfil.jpg" alt="Foto de perfil">
            <div class="depoimentoCardText">
                <h3>Nome</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <i class="bi bi-heart-fill"></i>
        </div>

        <div class="depoimentoCard">
            <img src="~/img/perfil.jpg" alt="Foto de perfil">
            <div class="depoimentoCardText">
                <h3>Nome</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <i class="bi bi-heart-fill"></i>
        </div>

        <div class="depoimentoCard">
            <img src="~/img/perfil.jpg" alt="Foto de perfil">
            <div class="depoimentoCardText">
                <h3>Nome</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <i class="bi bi-heart-fill"></i>
        </div>
    </div>
</section>

